# Python
.venv
**/__pycache__
**/.pytest_cache


# Database
*.sqlite
*.db


# Env files
.env

# Terraform
infra/terraform/.terraform*
infra/terraform/terraform.tfstate

# React
**/node_modules


# Misc
.vscode
*.bak
*.ref.yaml
*notes.txt

infra/k3s/apps/kustomize/base/unsealed-secret.yaml
