.top-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weather-container__current-title-bar-tenp-button {
    padding: .25rem .25rem;
    height: 30px;
}