.top-navigation {
    display: flex;
    justify-content: space-between;
}

.weather-container__current-title-bar-tenp-button {
    padding: .25rem .25rem;
    height: 30px;
    /* margin-right: 1.5rem; */
  }